<div>
    <gsv-title></gsv-title>
  </div>
<div class="image-container">
<img src="https://img.freepik.com/vector-gratis/transfiera-concepto-archivos-pagina-destino_23-2148298376.jpg?w=1060&t=st=1685031529~exp=1685032129~hmac=408b2abea5f8c1698139aacb4fe0f100d65cbd47f09923b71efa33d5cc8f9a04" alt="">
<img src="https://img.freepik.com/vector-gratis/concepto-pagina-destino-smartphone_23-2147773284.jpg?w=740&t=st=1685031668~exp=1685032268~hmac=fd550309284a4c87b9b9d1f092e35c97afc0f269421b04a817634c58066c9482" alt="">
<img src="https://img.freepik.com/vector-gratis/concepto-carga-imagenes-pagina-destino_23-2148321612.jpg?w=740&t=st=1685031744~exp=1685032344~hmac=873953b54c1114c604a7fa7a0e7eb57afbaf3010697cf2b9c4d17afddbf87a22" alt="">
</div>

<br>
<h1>Sobre Nosotros</h1>
Somos una Distribuidora autorizada de Claro en Ecuador. Ofrecemos todo el portafolio de productos de la operadora con excelente servicios y atención. Como GRUPO EMPRESARIAL tenemos más de 15 años, manteniéndonos como líderes del mercado en nuestra unidad de negocio.

<div class="container">
    <div class="box whatsapp">
      <i class="fab fa-whatsapp"></i>
      <div class="details">
        <h3>WhatsApp</h3>
        <p>Teléfono: +593 959 564 825</p>
        <p>Email: bryan@whatsapp.com</p>
      </div>
    </div>
    
    <div class="box facebook">
      <i class="fab fa-facebook"></i>
      <div class="details">
        <h3>Facebook</h3>
        <p>Email: boviedo@facebook.com</p>
      </div>
    </div>
    
    <div class="box instagram">
      <i class="fab fa-instagram"></i>
      <div class="details">
        <h3>Instagram</h3>
        <p>Email: bryan@instagram.com</p>
      </div>
    </div>
  </div>
  

