<gsv-login *ngIf="(!mostrarLoginState)" (onClickLogin)="getAuth($event)"></gsv-login>

<div class="container-fluid g-0" *ngIf="(mostrarLoginState)">
  <gsv-header (sideNavToggled)="sideNavStatus =$event;" (onClickIniciarSesion)="mostrarLogin($event)"></gsv-header>
  <main>
    <gsv-menu class="" [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}"></gsv-menu>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

